/* styles stuff within the WYSIWYG view, as you are using it. Use this to add things like dashed lines/etc to help users know what is happening.*/

/* lets add some outlines to better define what we are looking at */
div.silk-accordion, div.silk-accordion, div.silk-accordion header, div.silk-accordion div {
  padding:10px;
  border: dashed 1px #555;
}

div.silk-accordion div.silk_wysiwyg_tools-accordion, div.silk-accordion div.silk-accordion header, div.silk-accordion div.silk-accordion div {
  border: dashed 1px #E51937;
}

/* lets add some styles to define the two column layout as you view it in the WYSIWYG */
div.silk-two-column {
  -webkit-columns: 2; /* Chrome, Safari, Opera */
  -moz-columns: 2; /* Firefox */
  columns: 2;
}
